.root {
	-fx-background-image: url("back.jpg");
}

.labello {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #FFFFFF;
}

.button {
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61A1B0, #215159);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);
}

#willkommen-text {
	-fx-fill: #FFFFFF
}